*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size:10px;
}
body {
  min-width: 1060px;
  font-size: 1.8rem;
}
.main-content {
  background-color: yellow;
  float: left;
  width: 70%;
}
.container {
  max-width: 1400px;
  background: orange;
  margin: 0 auto;
  padding: 0 20px
  position: relative;

}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.nav{
  text-align: right;
}
.side-content {
  background-color: orange;
  float: right;
  width: 30%;
}
